{% extends "base.html" %}
{% load static %}
<!-- Home for auth users -->
<style>
    #container {
    overflow-x: scroll;
    white-space: nowrap;
}

.child {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
</style>
{% block body %}
    {% include "authnav.html" %}

    <!-- Message from django will be printed here -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-secondary alert-dismissible shadow-inset fade show" role="alert">
                    <span class="alert-inner--icon">
                        <span class="fas fa-exclamation-circle">

                    </span>
                    </span>
                <span class="alert-inner--text"><strong>Warning!</strong> {{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Section -->
    <div class="section bg-primary text-dark section-lg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- Col 1-->
                        <!--------------------------------- Source Section ------------------------>
                        <span class="h4">Source Section</span><br>
                        <span class="h6">Detected Language:</span>
                        <span class="h6" id="detectedLangSpan"></span> <br><br>

                        <div class="form-group mb-4">
                            <input type="file" class="custom-file-input" id="destinationCustomFile"
                                   aria-label="File upload" onchange="openSourceFile(this)">
                            <label class="custom-file-label" for="destinationCustomFile">
                                <span class="fa fa-upload"></span>
                            </label>
                        </div>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input"
                                                                         id="wordByWord"> <label
                                class="custom-control-label" for="wordByWord">Translate Word By Word</label>
                        </div>

                        <table id="source_table" class="table table-hover shadow-inset rounded"
                               style="margin-top: 8vh;">
                            <tbody>
                            </tbody>
                        </table>


                        <button id="addRowBtn" class="btn btn-primary animate-down-2" type="button"
                                onclick="addRowToSource(this)" disabled>
                                <span class="btn-inner-icon">
                                    <span class="fa fa-plus"></span>
                                    <span class="btn-inner-text font-weight-bold">Add Row</span>
                                </span>
                        </button>

                        <button id="saveSourceCsv" class="btn btn-primary animate-down-2" type="button"
                                onclick="downloadSource(this)">
                                <span class="btn-inner-icon">
                                    <span class="far fa-save"></span>
                                    <span class="btn-inner-text font-weight-bold">Save Source File</span>
                                </span>
                        </button>

                    </div> <!-- End of Col 1-->
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- Col 2-->
                        <span class="h4">Target Section</span><br>
                        <div class="form-group mb-4">
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                                    style="background-color: white;"
                                    onchange="destLangChange(this)">
                                <option value="null" selected="selected">Choose Target Language..</option>
                                <option value="en">English</option>
                                <option value="ge">German</option>
                                <option value="fr">French</option>
                                <option value="it">Italian</option>
                                <option value="es">Spanish</option>
                                <option value="po">Portuguese</option>
                                <option value="ja">Japanese</option>
                                <option value="ru">Russian</option>
                                <option value="zh">Chinese</option>
                                <option value="ar">Arabic</option>

                            </select>
                        </div>

                        <div class="form-group mb-4">
                            <input type="file" class="custom-file-input" id="destinationCustomFile"
                                   aria-label="File upload" onchange="openTargetFile(this)">
                            <label class="custom-file-label" for="destinationCustomFile">
                                <span class="fa fa-upload"></span>
                            </label>
                        </div>

                        <div class="form-group mb-4">
                            <button id="translateBtn" class="btn btn-primary animate-down-2" type="button"
                                    onclick="tnslt(this)">
                                <span class="btn-inner-icon">
                                    <span class="fa fa-redo"></span>
                                </span>
                                <span class="btn-inner-text font-weight-bold">Translate</span>
                            </button>
                        </div>

                        <table id="target_table" class="table table-hover shadow-inset rounded">
                            <tbody>
                            </tbody>
                        </table>

                        <div class="form-group mb-4">
                            <button id="saveTargetCsv" class="btn btn-primary animate-down-2" type="button"
                                    onclick="downloadSource(this)">
                                <span class="btn-inner-icon">
                                    <span class="far fa-save"></span>
                                    <span class="btn-inner-text font-weight-bold">Save Target File</span>
                                </span>
                            </button>

                            <button id="translateBtn" class="btn btn-primary animate-down-2" type="button"
                                    onclick="tnslt(this)">
                                <span class="btn-inner-icon">
                                    <span class="fa fa-redo"></span>
                                </span>
                                <span class="btn-inner-text font-weight-bold">Translate</span>
                            </button>
                        </div>


                    </div><!-- End of Col 2-->

                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/line-translate.js' %}"></script>
{% endblock %}
